#dept-image{
        object-fit: cover;
        position: absolute;
        z-index: 1;
        overflow: hidden;
        height:98%;
        width: 94%;
        outline: 1px solid white;
        outline-offset: -20px;
}
@media ( max-width:400px ){
    #dept-image{
        outline-offset: -10px;
    }
}
.cover-image {
  background-image: url("../img/cover.jpg");

  height: 100%;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  z-index: 20;
}
.cover-dept-text{
    font-size: 3.5vw;
    color: white;
}
.cover-dept-of {
    font-size: 1.8vw;
    color: white;
}
@media ( max-width:700px ) {
    .cover-dept-text{
        font-size: 5.2vw;
    }
    .cover-dept-of {
        font-size: 2.8vw;
    }
}
html,body {
    margin: 0;
    height: 100%;
  }
#main-container{
    height: 82vh;
}
.butt{
    position: absolute;
    top:60%;
    background: transparent;
    border: 0;
    color: #fff;
    font-size: 30px;
}

.date-container{
    height:20px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:30px 0;
    position: relative;
    /* bottom: 40px; */
}
#date{
    padding: 0 10px;
    font-family: 'Times New Roman';
    font-size: 1.5vw;
}
@media ( max-width:700px ) {
    #date{
        font-size: 2.5vw;
    }
}
.left-line{
    height:1px;
    width:33%;
    background-color: #000000;
}
.right-line{
    height:1px;
    width:33%;
    background-color: #000000;
}

.nav-bar{
    display: flex;
    position: absolute;
    top:76vh;
    z-index: 10;
}
.nav-bar span{
    background-color: white;
    padding: 10px;
}
.nav-bar span:hover{
    border-bottom: rgb(50,100,255) solid 3px;
    background-color: rgb(150,200,255);
}
.contain{
    z-index:1;
}