
.card{
    min-width: 300px;
    max-width: 320px;
    padding: 25px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.card p{
    margin: 0 !important;
    color: #707070;
    font-weight: bolder;
}
.card-header{
    padding: 5px;
}
.card-body{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.hashtags{
    padding: 7px;
}

